*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body.home {
    background:rgb(42, 165, 165);
    min-height: 100vh;
    margin: 0;
}
body.anger {
  background:#7aa8ff;
}

body.anxiety {
  background: #c0fd71;
}

body.fatigue {
  background: #f8f54e;
}

body.fear {
  background: #f7907e;
}

body.frustation {
  background: #fdd054;
}

body.joy {
  background: #70f85e;
}

body.nostalgia {
  background: #81f0ff;
}

body.sadness {
  background: #c881f7;
}

body.stress {
  background: #ff8aa4;
}

.main-title {
    font-family:"Mountains of Christmas", serif;
  font-weight: 700;
  font-size: 200px;
  font-style: normal;
  text-align: center;
}

.page-title {
  display:flex;
  flex-direction: column;
  font-size: 130px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.page-title h3 {
  font-family: "Barrio", system-ui;
  color: #0d007e;
}

.page-title h4{
  font-family: "Kirang Haerang", system-ui;
  color:#00830b
}

.page-title h5 {
  font-family: "Love Ya Like A Sister", cursive;
  color: #8c8f00;
}

.page-title h6{
  font-family: "Fontdiner Swanky", serif;
  color: #740064fd;
}

.page-title h7 {
  font-family: "Freckle Face", system-ui;
  color: #682a00;
}

.page-title h8 {
  font-family: "Henny Penny", system-ui;
  color: #004b0c;
}

.page-title h9 {
  font-family: "Cinzel", serif;
  color: #014572;
}

.page-title h10 {
  font-family: "Caveat Brush", cursive;
  color: #440072;
}

.page-title h11 {
  font-family: "Shizuru", system-ui;
  color:#580058
}

.hero {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}


.hero-text {
  max-width: 90vw;
  text-align: center;
}

.hero-text h2 {
  font-size: 56px;
  font-family: "Sour Gummy", sans-serif;
  line-height: 1.2;
  font-optical-sizing:auto;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 24px;
  font-family: "Quicksand", sans-serif;
}
.hero-buttons {
  gap: 12px;
  justify-content: center;
  margin-top: 20px;
}



.btn {
  display: inline-block;
  font-family: "Sour Gummy", sans-serif;
  background-color: rgb(206, 255, 127);
  color: #3b2f2a;
  text-decoration: none;
  padding: 12px 28px;
  border-radius: 999px;
  cursor: pointer;
}

.subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  font-family: "Quicksand", sans-serif;
  justify-content: center;
  margin-left: 35px;
  margin-right: 35px;
}

.space {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  background: #0e59fa93;
  border-left: 6px solid #0c0044;
  padding: 20px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 15px;
}

.box h12{
  font-family: "Sour Gummy", sans-serif;;
}

.box ul {
  padding-left: 20px;
}

.box li {
  margin-bottom: 10px;
  font-family: "Quicksand", sans-serif;;
}

.space2 {
  margin-top: 40px;
}


.hero-buttons .btn:visited {
  color: #000000;
}





